@media only screen and (max-width: 350px) {
  div.project-buttons > :last-child {
    margin-left: 30px;
  }
}

@media only screen and (min-width: 500px) {
  div.project-buttons > :first-child {
    justify-content: flex-end;
  }
}

@media only screen and (max-width: 700px) {

  .add-todo label {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .add-todo button {
    margin-top: 5px;
  }

  .inner-modal {
    width: 80%;
  }
}

@media only screen and (max-width: 800px) {
  .project-buttons button {
    font-size: 16px;
  }
  .project-buttons i {
    font-size: 25px;
  }
  .project-buttons {
    flex-wrap: nowrap;
  }

  .project-buttons > div:nth-child(3) {
    border: 1px solid black;
    margin-left: 5px;
  }
}

@media only screen and (min-width: 800px) {
  body {
    font-size: 1.5em;
  }

  .project-buttons button {
    font-size: 1em;
  }

  th {
    height: 50px;
  }

  .add-button {
    width: 80%
  }
}
